@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Clash Display', sans-serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-cassaforte{
  background-image: url('./assets/minimalSection/cassaforte.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-cassaforte{
  background-image: url('./assets/minimalSection/cassaforte.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.progress-button-light {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.progress-button-light::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(248 250 252); 
  transition: width 0.5s ease;
  z-index: -1;
}

.progress-button-light:hover::after {
  width: 100%;
}

.progress-button-light:hover {
  color: black; /* text-black equivalent */
  z-index: 1;
}

.progress-button-dark {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.progress-button-dark::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(0, 0, 0); 
  transition: width 0.5s ease;
  z-index: -1;
}

.progress-button-dark:hover::after {
  width: 100%;
}

.progress-button-dark:hover {
  color: rgb(255, 255, 255); /* text-black equivalent */
  z-index: 1;
}

/* linkedin button */

.progress-button-linkedin {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.progress-button-linkedin::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(37 99 235); 
  transition: width 0.5s ease;
  z-index: -1;
}

.progress-button-linkedin:hover::after {
  width: 100%;
}

.progress-button-linkedin:hover {
  color: white; 
  z-index: 1;
}

/* facebook button */

.progress-button-facebook {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.progress-button-facebook::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(59 130 246); 
  transition: width 0.5s ease;
  z-index: -1;
}

.progress-button-facebook:hover::after {
  width: 100%;
}

.progress-button-facebook:hover {
  color: white; 
  z-index: 1;
}

/* whatsapp button */

.progress-button-whatsapp {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.progress-button-whatsapp::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(34 197 94); 
  transition: width 0.5s ease;
  z-index: -1;
}

.progress-button-whatsapp:hover::after {
  width: 100%;
}

.progress-button-whatsapp:hover {
  color: white; 
  z-index: 1;
}

.Smoke {
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.link-hidden {
  opacity: 0;
  transition: ease-in-out;
}

.text-negative {
  color: black;
  display: block;
  filter: invert(1);
  mix-blend-mode: difference;
}

.text-negative-remove {
  color: black!important;
  display: block!important;
  filter: invert(0)!important;
  mix-blend-mode: normal !important;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1s ease-out;
}

@keyframes slideInFromLeftAndScale {
  from {
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(0.8);
    opacity: 1;
  }
}

.animate-image-once {
  animation: slideInFromLeftAndScale 3s forwards;
}

.arrow {
  animation: arrowMove 2s ease-in-out infinite;
}

@keyframes arrowMove {
  0% {
      bottom: 2.5rem;
  }
  50% {
      bottom: 4rem; /* Adjust this value as needed */
  }
  100% {
      bottom: 2.5rem;
  }
}

.animated-line {
  width: 0;
  animation: lineAppear 2s forwards;
}

@keyframes lineAppear {
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.glassmorphism{
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  }
